* {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.container-max{
   width: 100%;
   margin: 10px 0;
} 
.container-j{
    max-width: 1350px;
    margin: 0 auto;
    height: 600px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.row{
    display:flex;
    flex-wrap: wrap;
}
.col50{
    width: 50%;
}
.col100{
 width: 100%;
}
.col60{
    width: 60%;
}
.col40{
    width: 40%;
}
.col33{
    width: calc(100% / 3);
}
.col20{
    width: 20%;
}


.content-j{
    margin: 10px;
    
}
.content-a{
    margin: 10px;
    background-color: lightseagreen;
    border: 1px solid rgb(22, 128, 122);
}
.content-b{
    margin: 10px;
    background-color: rgb(201, 132, 5);
    border: 1px solid rgb(170, 46, 1);
}
.content-c{
    margin: 10px;
    background-color: rgb(255, 196, 205);
    border: 1px solid rgb(255, 150, 166);
}
.square-row{
    display: flex;
}
.square{
    width:calc(100% / 3);
    height: calc(100vw / 3);
    background-color: rgb(76, 1, 146);
   
}
.smallsquare{
    height: 50%;
    width: 50%;
    
    background-color: azure;
}
.content-f{
    margin: 10px;
    background-color: yellow;
    border: 1px solid rgb(201, 201, 0);
}
.height500{
    height: 500px;
}
.height300{
    height: 300px;
}
.height50{
    height: 50px;
}
.heightfull{
    height: 100%;
}

.bg-blue{
    background-color: rgba(101, 166, 206, 0.589);
}
.margin-bot75{
    margin-bottom: 75px;
}
footer{
    background-color: black;
    padding: 75px 0;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.border{
    border: 1px solid rgb(179, 128, 226);
}
header button{
    border: none;
    font-size: 12px;
    color: rgb(146, 146, 146);
    background-color: transparent;
    padding: 0 6px;
    vertical-align: middle;
}
body{
    font-family: Poppins, sans-serif;
}
h1{
    font-size: 51px;
    padding: 0 15px;
    margin-top: 32px;
    font-weight: 643;
}
.align-v{
    vertical-align: middle;
}
header img{
    height: 17px;
    vertical-align: middle;

}
 .blue{
    background-color: blue;
    color: white;
    padding: 4px 6px;
    
 } 
 .margin-top30{
   margin-top: 30px;
 }
 mark{
    background-color: blue;
    color: white;
    padding: 4px 6px;
 }
.img1{
    height: 450px;
    position: relative;
    left: -40px;


} .text-align{
    text-align: right;
}