* {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.container-max{
   width: 100%;
   margin: 10px 0;
} 
.container-j{
    max-width: 1300px;
    margin: 0 auto;
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.row{
    display:flex;
    flex-wrap: wrap;
}
.col50{
    width: 50%;
}
.col100{
 width: 100%;
}
.col70{
    width: 70%;
}
.col60{
    width: 60%;
}
.col40{
    width: 40%;
}
.col33{
    width: calc(100% / 3);
}
.col30{
    width: 30%;
}
.col20{
    width: 20%;
}


.content-j{
    margin: 10px;
    position: relative;
    
}
.content-a{
    margin: 10px;
    border: 1px solid rgba(211, 211, 211, 0.623);

}
.content-b{
    margin: 10px;
    background-color: rgb(201, 132, 5);
    border: 1px solid rgb(170, 46, 1);
}
.content-c{
    margin: 10px;
    background-color: rgb(255, 196, 205);
    border: 1px solid rgb(255, 150, 166);
}
.square-row{
    display: flex;
}
.square{
    width:calc(100% / 3);
    height: calc(100vw / 3);
    background-color: rgb(76, 1, 146);
   
}
.smallsquare{
    height: 50%;
    width: 50%;
    
    background-color: azure;
}
.content-f{
    margin: 10px;
    background-color: yellow;
    border: 1px solid rgb(201, 201, 0);
}
.height500{
    height: 500px;
}
.height300{
    height: 300px;
}
.height50{
    height: 50px;
}
.heightfull{
    height: 100%;
}

.bg-blue{
    background-color: rgba(101, 166, 206, 0.589);
}
.margin-bot75{
    margin-bottom: 75px;
}
footer{
    background-color: black;
    padding: 75px 0;
}
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.border{
    border: 1px solid rgb(179, 128, 226);
}
header button{
    border: none;
    font-size: 12px;
    color: rgb(146, 146, 146);
    background-color: transparent;
    padding: 0 6px;
    vertical-align: middle;
}
body{
    font-family: Poppins, sans-serif;
}
h1{
    font-size: 58px;
    padding: 0 15px;
    margin-top: 32px;
    font-weight: 643;
}
.align-v{
    vertical-align: middle;
}
header img{
    height: 17px;
    vertical-align: middle;

}
 .blue{
    background-color: blue;
    color: white;
    padding: 4px 6px;
    
 } 
 .margin-top30{
   margin-top: 30px;
 }
 mark{
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 12px 13px;
 }
.img1{
    height: 450px;
    position: absolute;
    width: 100%;
    


} .text-align{
    text-align: right;
}
.arrow{
    font-size: 50px;
}
h2{
    font-size: 35px;
}

.mt25{
    margin-top: 25px;
}
.circle{
    
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: transparent;
    vertical-align: middle;
    
}
 .v-align{
    vertical-align: middle;
 }
 .ml-50{
    margin-left: 50px;
 }
 .b-blue{
    border: 4px solid rgb(2, 109, 231); 
 }
 .b-gray{
    border: 2px solid rgba(211, 211, 211, 0.623);
 }
 .mt-40{
    margin-top: 40px;
 }
 .title{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.623);
    text-align: center;
    margin-top: 6px;
 } 
 i{
    padding-right: 5px;
 }
 .main-card{
    max-width: 85%;
 }
 h3{
    margin-top: 30px;
    margin-bottom: 17px;
    font-size: 24px;
 }
 .mese{
    margin-top: 8px;
    margin-bottom: 33px;
    color: lightgray;  
 } 
 .spazio{
    margin: 16px 0;
 }
 .min-height{
   min-height: 980px;
 }
 .height250{
    height: 250px;
 }
 .underline{
    text-decoration: underline;
    color: blue;
    
 }
 .border-hr{
   
    padding-bottom: 30px;
 }
 h4{
    margin-top: 36px;
    margin-bottom: 30px;
 }
 .linea{
    width: 60px;
    height: 1px;
    background-color: rgba(211, 211, 211, 0.623);
    margin-left: 0;
 }
 ul{
    list-style-type: none;
 }
 li{
    margin-bottom: 20px;
    
 }
 .blu{
    color: rgb(2, 109, 231);
    font-weight: 600;
    margin-right: 4px;
 }
 .card100{
    max-width: 65%;
    margin-left: 30px;
    position: relative;
 }
 .mb-20{
    margin-bottom: 20px;
 }
 .absolute{
    position: absolute;
    top: 10px;
    right: -350px;
 }