* {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.container-max{
   width: 100%;
   margin: 10px 0;
} 
.container-j{
    max-width: 1350px;
    margin: 0 auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.row{
    display:flex;
    flex-wrap: wrap;
}
.col50{
    width: 50%;
}
.col100{
 width: 100%;
}
.col60{
    width: 60%;
}
.col40{
    width: 40%;
}
.col33{
    width: calc(100% / 3);
}

.content-h{
    height: 40px;
    border: 1px solid red;
    background-color: aqua;
} 
.content-j{
    margin: 10px;
    background-color: bisque;
    border: 1px solid rgb(228, 204, 175);
}
.content-a{
    margin: 10px;
    background-color: lightseagreen;
    border: 1px solid rgb(22, 128, 122);
}
.content-b{
    margin: 10px;
    background-color: rgb(201, 132, 5);
    border: 1px solid rgb(170, 46, 1);
}
.content-c{
    margin: 10px;
    background-color: rgb(255, 196, 205);
    border: 1px solid rgb(255, 150, 166);
}
.height500{
    height: 500px;
}
.height50{
    height: 50px;
}

.bg-blue{
    background-color: rgba(101, 166, 206, 0.589);
}
.margin-bot75{
    margin-bottom: 75px;
}